* {
  padding: 0;
  margin: 0;
}
.fragment {
  margin: 0 auto;
}
.main-form {
  width: 35vm;
  max-width: 370px;
  margin: 0 auto;
  background: #f3f7f8;
  border-radius: 5px;
  border: 1px solid #ffffff00;
}
.main-form .form-header {
  text-align: center;
  font-size: 24px;
}
.info {
  font-size: 14px;
  margin: 30px 20px 0 20px;
}
.info .marker {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #63d084;
  color: white;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
}
.main-form p {
  display: block;
  font-size: 10px;
  margin-top: 12px;
}
.main-form p:nth-child(3) {
  margin-top: 12px;
}
.inputs {
  width: 100%;
  background: #e8edf0;
  border: none;
  border-radius: 3px;
}
.main-info {
  height: 36px;
}
#age,
#interest label {
  color: #585d5e;
}
.inputs .select {
  height: 26px;
  color: #585d5e;
}
.main-form .button-block {
  margin: 35px 16px 14px 16px;
}
.main-form button[type="submit"] {
  border: none;
  border-radius: 5px;
  background: #4ac970;
  width: 100%;
  height: 44px;
  color: #fff;
}
