* {
  margin: 0;
  padding: 0;
}
h2 {
  padding-top: 10px;
  color: white;
  text-align: center;
}
.fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #5e5373;
}
.container {
  margin: 0 auto;
  margin-top: 10%;
  width: 800px;
  height: 600px;
  background-color: #451549;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) -25%,
    rgba(0, 0, 0, 0.2) 125%
  );
}
.container .head-form {
  padding-top: 100px;
  margin: 0 auto;
  width: 432px;
  height: 75px;
  background-color: #7b537e;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.18) -23%rgba (0, 0, 0, 0) 125%
  );
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(0deg, #67466a -23%, #936a96 125%);
  background-clip: content-box;
}
.head-form h3 {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(53, 16, 56, 0.5);
  color: #ffffff;
}
.main-form {
  margin: 0 auto;
  width: 430px;
  height: 237px;
  background-color: #f2f2f2;
  border: 1px solid #ffffff;
}
.icon_user {
  background: url(../img/user_54.png) no-repeat center left;
  background-position: 97%;
  width: 20px;
  height: 14px;
}
.icon_block {
  background: url(../img/locked_2_55.png) no-repeat center left;
  background-position: 97%;
  width: 20px;
  height: 14px;
}
.firstInput {
  padding: 25px 25px 25px 25px;
}
.secondInput {
  padding: 0 25px 25px 25px;
}
.input {
  text-align: left;
  padding-left: 20px;

  width: 355px;
  height: 50px;
  background-color: #f0eef0;
  border: 1px solid rgba(220, 220, 220, 0.85);
}
.btn {
  margin-left: 25px;
  margin-right: 30px;
  width: 100px;
  height: 40px;
  /* padding-left: 24px; */
  background-color: #7b537e;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.18) -25%,
    rgba(0, 0, 0, 0) 125%
  );
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(0deg, #67466a -25%, #936a96 125%);
  background-clip: content-box, border-box;
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(53, 16, 56, 0.5);
  color: #ffffff;
}
.flex_btn_text h4 {
  font-family: "Helvetica Neue";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  color: #999999;
}
.flex_btn_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
