* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background: grey;
  font-family: "Open Sans", sans-serif;
}
h2 {
  padding-top: 10px;
  color: white;
  text-align: center;
}
.fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #5e5373;
}
.article-item {
  margin: 0 auto;
  width: 450px;
  background: white;
  margin-top: 200px;
  border-radius: 20px;
}
.article-item .article-img {
  padding: 25px 25px 0px 25px;
}
.article-item .article-title {
  font-size: 14px;
  font-weight: bold;
  padding: 25px 25px 25px 25px;
  align-content: center;
  color: #3d464c;
}
.article-item .article-text {
  font-weight: 12px;
  padding: 0px 25px 25px 25px;
  color: #96a6b0;
}
.article-footer {
  height: 62px;
  background: #eaf0f4;
  display: flex;
  width: 400px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  border-radius: 20px;
}
.article-footer .like {
  background-image: url(../images/heart-icon.png);
  padding-left: 30px;
  padding-right: 20px;
  align-items: center;
}
.article-footer .date {
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(../images/clock-icon.png);
}
.article-footer .share {
  padding-left: 10px;
  background-image: url(../images/facebook.png);
  background-position: right;
}
.article-footer .share {
  padding-left: 10px;
  background-image: url(../images/twitter.png);
  background-position: right;
}
.article-footer .like,
.article-footer .share {
  width: auto;
  background-repeat: no-repeat;
}
.article-footer .like,
.article-footer .date {
  border-right: 1px solid #d8e3eb;
  background-repeat: no-repeat;
  background-position: left;
}
.article-footer .ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
.article-footer .ico-fb {
  background-image: url(../images/facebook.png);
}

.article-footer .ico-fw {
  background-image: url(../images/twitter.png);
}
.article-footer .ico-g {
  background-image: url(../images/google.png);
}

.article-footer .ico-add {
  background-image: url(../images/add-icon.png);
}
