* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: grey;
}
.nav {
  margin: 0 auto;
  display: flex;
  width: 80%;
  height: 60px;
  border-radius: 10px;
}
.container {
  margin-top: 20px;
}
.container-element {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
}
.search {
  width: 20px;
  height: 20px;
  padding-top: 20px;
}
.burger-menu {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.burger-line {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 20px;
  height: 3px;
  background-color: white;
}
.nav {
  margin: 0 auto;
  width: 80%;
}
.nav div:hover {
  transition: 0.4ms;
  background-color: #88b04b;
}
.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav li {
  flex: 1 1;
}
.nav a:hover {
  background-color: chartreuse;
}
.search {
  margin-right: 15px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
