* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title h2 {
  font-family: "Arvo";
  font-style: normal;
  font-size: 50px;
  line-height: 48px;
  text-align: center;
  color: #212121;
}
.title p {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  display: flex;
  text-align: center;
  color: #9fa3a7;
  flex-direction: row;
}
